---
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro'
import HeroSection from '../components/HeroSection.astro'
import ChargeSection from '../components/ChargeSection.astro'
---

<Layout title="El coche de tus sueños (y de Elon Musk) | Tesla">
  <LandingHeader/>

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <ChargeSection />
    </div>
    <div class="snap-center">
      <HeroSection />
    </div>
	</main>
</Layout>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');
</style>