<section 
    class="landing-section bg-black h-screen text-center relative overflow-hidden"
    data-header-color="black"
>
    <div class="z-30 relative h-full flex flex-col">
    <header>
        <h2 class="text-black pt-[15rem] text-[40px] font-medium">
            Model 3
        </h2>
        <p class="text-black text-sm underline">
            Lease from $429/mo
        </p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-20"> 
        <div class="flex gap-x-10 justify-center">
        <a 
            class="bg-[#171a20cc] backdrop-blur-ms rounded text-sm font-medium text-white px-20 py-2 inline-flex justify-center items-center" 
            href="#"
        >
            Order Now
        </a>
        <a 
            class="bg-[#f4f4f4a6] backdrop-blur-ms rounded text-sm font-medium text-gray-800 px-20 py-2 inline-flex justify-center items-center"
            href="#"
        >
            Demo Drive
        </a>
        </div>
    </footer>
    </div>
    <div class="absolute inset-0">
        <img src="/model-3.avif" alt="Model Y" class="h-full w-full object-cover object-center">
    </div>
</section>